.card-container {
    border-radius: 8px;
    max-width: 220px;
    height: 400px;
    margin: 40px;
    flex: 1 0 220px;
    cursor: pointer;
    font-size: 1.1rem;
}

.actor-pic {
    width: 100%;
    border-radius: 8px;
}

.actor-pic:hover {
    box-shadow: 0 0 8px 4px whitesmoke;
}

.actor-name {
    color: white;
}

@media screen and (width < 768px) {
    .card-container {
        max-width: 110px;
        height: 240px;
    }
}