#root {
  border: 2px solid white;
  height: 100vh;

  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-container {
  border: 1px solid deeppink;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}